/*++++++++++++++++++++++++++++++++++++++++++++++++++general++++++++++++++++++++++++++++++++++++++++++++++++++*/

h4{
	text-align:center;
	padding: 20px 0 5px 0px;

}
/*++++++++++++++++++++++++++++++++++++++++++++++++++end general++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*++++++++++++++++++++++++++++++++++++++++++++++++++header++++++++++++++++++++++++++++++++++++++++++++++++++*/

header hgroup h1 {

	line-height: 33px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++end header++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*++++++++++++++++++++++++++++++++++++++++++++++++++education++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*university*/
	span.whr {
		display: block;

		font-size: 16px;
	}

/*location and date*/
	div.location, div.date {
		width: 49%;
		font-style: italic;
		font-size: 13px;
		text-align: center;
	}

	div.location:before, div.date:before {

		background-size: 0%!important;
		background-color:transparent!important;
		background-image: none!important;
	}

/*++++++++++++++++++++++++++++++++++++++++++++++++++end education++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*++++++++++++++++++++++++++++++++++++++++++++++++++skills ++++++++++++++++++++++++++++++++++++++++++++++++++*/
.competences, .competences .grid8{
	margin-top:0;


}

li.skills h4 {
	text-align: left;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++ end skills ++++++++++++++++++++++++++++++++++++++++++++++++++*/
